/* Title:Page_Layout: Codi Jones
School/Term: SIUC, Fall 2021
Developed:9/10/2021 */
html {font-size: 2vw;}
body {
    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 725px;
    margin: 10px;
    font-size: 100%;
    background-color: linen;
}

h1, h2, h3  {
   
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 100%;
}

p {
    
    padding-left: 5px;
    padding-right: 5px;
    font-size: 100%;
}

li {
    
    padding-left: 10px;
    font-size: 100%;
}
figcaption{font-size: 100%;}

/*this should make it so only this will affect the bike image*/
image.bike1{
    align-self: center;
    border:  solid darkblue;
    border-radius: 10px;
}
/* This will allow the imgage resize*/
#image1 {
    background-image: url("Bike1.jpg");
    width: 434px;
    height: 312px;
    background-size:contain;
    background-repeat: no-repeat;
}
#image1:hover {
    background-image: url("Bike2.jpg");
}
/* Will show mobile menu when needed*/
#mobile_menu{
    display: none;
}

table{
    border:2px darkblue;
    border-collapse: collapse;
    background-color: lightblue;
}
th{
    border: 2px darkblue;
    border-collapse: collapse;
    
}




